*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  font-family: "Nunito", sans-serif;
  color: #6D5D4B;
  font-weight: 300;
  line-height: 1.6; }

.header {
  width: 100%;
  height: 100vh; }

.pixoHeader {
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-color: white;
  position: absolute;
  -webkit-perspective: 50rem;
  -moz-perspective: 50rem;
  perspective: 50rem;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  transition: all 1s;
  background-color: #8B4789; }
  .pixoHeader-pixoIs {
    font-weight: 100;
    width: 100%;
    font-size: 3em;
    text-align: center;
    position: absolute;
    bottom: 17%;
    color: white; }
  .pixoHeader-tagline {
    border-right: 1px solid white;
    font-weight: bold;
    padding-right: 2px; }
  .pixoHeader-pixoGif {
    width: 27%;
    position: absolute;
    left: 37.5%;
    top: -1000%;
    border: none;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    z-index: 1000;
    background-size: 100% 100%;
    animation: 2.5s rotate infinite linear; }
    @media only screen and (max-width: 37.5em) {
      .pixoHeader-pixoGif {
        top: -620%;
        left: 41.5%; } }

@keyframes rotate {
  0% {
    transform: rotate(0deg);
    transform-origin: 50% 50%; }
  100% {
    transform: rotate(360deg); } }
  .pixoHeader #background img {
    position: absolute;
    top: 20%;
    left: 15%; }
    @media only screen and (max-width: 37.5em) {
      .pixoHeader #background img {
        width: 10rem; } }
  .pixoHeader #foreground img {
    position: absolute;
    top: 55%;
    left: 15%;
    transform: rotate(0deg); }
    @media only screen and (max-width: 37.5em) {
      .pixoHeader #foreground img {
        width: 10rem; } }
  .pixoHeader #fore-foreground img {
    position: absolute;
    top: 20%;
    left: 75%;
    transform: rotate(0deg); }
    @media only screen and (max-width: 37.5em) {
      .pixoHeader #fore-foreground img {
        width: 10rem; } }
  .pixoHeader #fore-fore-foreground img {
    position: absolute;
    top: 55%;
    left: 75%;
    transform: rotate(0deg); }
    @media only screen and (max-width: 37.5em) {
      .pixoHeader #fore-fore-foreground img {
        width: 10rem; } }

.mouse-bg {
  left: -4rem;
  right: 0;
  bottom: 0;
  top: 0;
  position: fixed; }
  @media only screen and (max-width: 37.5em) {
    .mouse-bg {
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      position: absolute; } }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  font-family: "Nunito", sans-serif;
  color: #6D5D4B;
  font-weight: 300;
  line-height: 1.6; }

.section-about {
  width: 100%;
  height: 100vh;
  display: flex;
  perspective: 10000px;
  background-color: silver; }
  .section-about .info {
    width: 50%;
    margin: auto;
    text-align: left;
    font-size: 2rem; }
    .section-about .info_header {
      font-size: 3rem; }
  .section-about .right {
    margin: auto; }
  .section-about .spinner {
    width: 50vmin;
    height: 50vmin;
    position: relative;
    animation: wobble calc(1.5s * 2) ease-in-out infinite;
    transform-style: preserve-3d; }

@keyframes wobble {
  0%, 100% {
    transform: rotateX(15deg) rotateY(60deg); }
  50% {
    transform: rotateX(60deg) rotateY(-60deg) rotate(180deg); } }
  .section-about .spinner::before,
  .section-about .spinner::after {
    content: '';
    position: absolute;
    box-sizing: border-box;
    width: inherit;
    height: inherit;
    border: 12.5vmin solid;
    border-radius: 50%;
    animation: spin 1.5s ease-in-out infinite reverse; }
  .section-about .spinner::after {
    border-color: white;
    animation-delay: calc(1.5s / 2 * -1);
    background: url("../img/pixoLogo.png");
    background-size: cover;
    background-position: center; }

@keyframes spin {
  0%, 100% {
    transform: translateZ(10vmin) rotateX(25deg); }
  33% {
    transform: translateZ(-10vmin) scale(0.4); }
  66% {
    transform: translateZ(-10vmin); } }

.section-departments {
  background: grey; }
  .section-departments .scroll-slider {
    position: relative;
    height: 100vh;
    display: block;
    overflow: hidden; }
  .section-departments .scroll-wrapper {
    height: 100%;
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent; }
  .section-departments .scroll-slide {
    position: relative;
    height: 100%;
    flex-basis: 75vw;
    flex-grow: 1;
    flex-shrink: 0; }
  .section-departments .item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 12rem; }
    .section-departments .item_img {
      position: relative;
      width: 70%; }

.footer {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
  box-sizing: border-box;
  height: 54rem;
  width: 100%;
  background-color: #000000;
  padding-top: 30px; }
  .footer .line1, .footer .line2, .footer .center_logo {
    display: inline-block; }
  .footer .line1, .footer .line2 {
    letter-spacing: -0.1em;
    font-size: 1rem; }
  .footer .center_logo {
    margin: 3rem 10rem 0 10rem;
    font-family: sans-serif;
    font-size: 4rem;
    letter-spacing: .1rem; }
  .footer .fab {
    font-size: 4rem;
    margin: 0 2.2rem;
    color: #9e2e4e; }
  .footer .fab:hover {
    color: white; }
  .footer .sections p:hover {
    color: white;
    cursor: pointer;
    transform: rotateY(180deg) 5s ease-in 0s; }
  .footer .left, .footer .links, .footer .right {
    display: inline-block;
    font-size: 3rem;
    font-family: sans-serif;
    letter-spacing: .2em;
    word-spacing: .2em;
    line-height: 7rem; }
  .footer .left {
    position: relative;
    right: 15rem;
    top: 5rem;
    text-align: center; }
  .footer .right {
    position: relative;
    top: 5rem;
    left: 20rem;
    text-align: center; }
  .footer .links {
    position: relative;
    top: 3rem;
    left: 2.7rem; }
  .footer .line {
    display: block;
    position: relative;
    top: 9rem; }
  .footer .line p {
    display: inline-block;
    letter-spacing: -0.1em;
    transform: rotate(90deg);
    font-size: 1.5rem; }
  .footer .move1 {
    position: relative;
    left: 10rem;
    top: 6rem; }
  .footer .move2 {
    position: relative;
    top: 6rem;
    right: 10rem; }
  .footer .last_line {
    font-size: 1.5rem;
    position: relative;
    top: 15rem;
    cursor: pointer; }
  .footer .behind {
    position: relative;
    background-color: #9e2e4e;
    height: .4rem;
    opacity: 0; }
  .footer .about_anime:hover .behind {
    transition: opacity 200ms ease-in 0s;
    opacity: 1; }
  .footer .behind1 {
    bottom: 10px;
    width: 140px; }
  .footer .behind2 {
    top: 50px;
    left: 118px;
    width: 110px; }
  .footer .behind3 {
    bottom: 10px;
    left: 45px;
    width: 100px; }
  .footer .behind4 {
    top: 50px;
    right: 100px; }
