/*
0 - 600px       Phone
600 - 900px     Tablet portrait
900 - 1200px    Tablet Landscape
1200 - 1800px   Normal styles
1800px + :      Big Screen

$breakpoint arguments choices
-   phone
-   tab-port
-   tab-land
-   big-desktop
- 1em- 16px
*/
@font-face {
  font-family: Espoir;
  src: url("../fonts/espoir_serif/Espoir_Serif.otf") format("otf"), url("../fonts/espoir_serif/Espoir Serif.ttf") format("ttf"); }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 30%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  font-family: "Nunito", sans-serif;
  color: #6D5D4B;
  font-weight: 300;
  line-height: 1.6; }

.header {
  width: 100%;
  height: 100vh;
  overflow: hidden; }

.pixoHeader-pixoGif {
  width: 32rem;
  border: none;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  z-index: 1000;
  background-size: 100% 100%;
  animation: 2.5s rotate infinite linear; }
  @media only screen and (max-width: 37.5em) {
    .pixoHeader-pixoGif {
      top: -620%;
      left: 41.5%; } }

.pixoGifContainer {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center; }

.pixoHeader {
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-color: white;
  position: relative;
  -webkit-perspective: 50rem;
  -moz-perspective: 50rem;
  perspective: 50rem;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  transition: all 1s;
  z-index: 10;
  background-color: black; }
  .pixoHeader-pixoIs {
    font-weight: 100;
    width: 100%;
    font-size: 3em;
    text-align: center;
    color: white;
    z-index: 1000;
    padding-top: 5rem; }
  .pixoHeader-tagline {
    border-right: 1px solid white;
    font-weight: bold;
    padding-right: 2px; }

@keyframes rotate {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
  .pixoHeader #background img {
    position: absolute;
    top: 20%;
    left: 15%; }
    @media only screen and (max-width: 37.5em) {
      .pixoHeader #background img {
        width: 10rem; } }
  .pixoHeader #foreground img {
    position: absolute;
    top: 55%;
    left: 15%;
    transform: rotate(0deg); }
    @media only screen and (max-width: 37.5em) {
      .pixoHeader #foreground img {
        width: 10rem;
        top: 73%; } }
  .pixoHeader #fore-foreground img {
    position: absolute;
    top: 20%;
    left: 75%;
    transform: rotate(0deg); }
    @media only screen and (max-width: 37.5em) {
      .pixoHeader #fore-foreground img {
        width: 10rem; } }
  .pixoHeader #fore-fore-foreground img {
    position: absolute;
    top: 55%;
    left: 75%;
    transform: rotate(0deg); }
    @media only screen and (max-width: 37.5em) {
      .pixoHeader #fore-fore-foreground img {
        width: 10rem;
        top: 73%; } }

.mouse-bg {
  left: -4rem;
  right: 0;
  bottom: 0;
  top: 0;
  position: fixed;
  z-index: 100000; }
  @media only screen and (max-width: 37.5em) {
    .mouse-bg {
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      position: absolute; } }

#particles-js {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: -10000;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%; }

@font-face {
  font-family: Espoir;
  src: url("../fonts/espoir_serif/Espoir_Serif.otf") format("otf"), url("../fonts/espoir_serif/Espoir Serif.ttf") format("ttf"); }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 30%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  font-family: "Nunito", sans-serif;
  color: #6D5D4B;
  font-weight: 300;
  line-height: 1.6; }

.section-about {
  width: 100%;
  height: 100vh;
  display: flex;
  perspective: 10000000px;
  background: #AC35D9;
  color: #9A7B22; }
  @media only screen and (max-width: 75em) {
    .section-about {
      flex-direction: column-reverse;
      height: auto; } }
  .section-about .info {
    width: 50%;
    margin: auto;
    text-align: left;
    font-size: 2rem; }
    .section-about .info_header {
      font-size: 3rem; }
    @media only screen and (max-width: 75em) {
      .section-about .info {
        padding: 6rem;
        width: 80%; } }
    @media only screen and (max-width: 37.5em) {
      .section-about .info {
        text-align: justify; } }
  .section-about .right {
    margin: auto; }
    @media only screen and (max-width: 75em) {
      .section-about .right {
        padding: 6rem; } }
  .section-about .spinner {
    width: 40vmin;
    height: 40vmin;
    position: relative;
    animation: wobble calc(1.5s * 2) ease-in-out infinite;
    transform-style: preserve-3d; }
    @media only screen and (max-width: 75em) {
      .section-about .spinner {
        width: 20vmin;
        height: 20vmin; } }

@keyframes wobble {
  0%, 100% {
    transform: rotateX(15deg) rotateY(60deg); }
  50% {
    transform: rotateX(60deg) rotateY(-60deg) rotate(180deg); } }
  .section-about .spinner::before,
  .section-about .spinner::after {
    content: '';
    position: absolute;
    box-sizing: border-box;
    width: inherit;
    height: inherit;
    border: 12.5vmin solid;
    border-radius: 50%;
    animation: spin 1.5s ease-in-out infinite reverse; }
    @media only screen and (max-width: 75em) {
      .section-about .spinner::before,
      .section-about .spinner::after {
        border: 4.5vmin solid; } }
  .section-about .spinner::after {
    border-color: transparent;
    border: none;
    background-repeat: no-repeat;
    animation-delay: calc(1.5s / 2 * -1);
    background: url("../img/pixoLogo.png");
    background-size: cover;
    background-position: center; }

@keyframes spin {
  0%, 100% {
    transform: translateZ(10vmin) rotateX(25deg); }
  33% {
    transform: translateZ(-10vmin) scale(0.4); }
  66% {
    transform: translateZ(-10vmin); } }

.section-departments {
  background: #6E4B8F;
  width: 100%;
  color: #AC35D9; }
  .section-departments h1 {
    font-weight: 600;
    font-size: 48px;
    color: #333;
    margin: 0;
    line-height: 1.3;
    letter-spacing: .0001em; }
  .section-departments h4 {
    font-weight: 600;
    font-size: 28px;
    color: #AC35D9;
    margin: 0;
    line-height: 1.3;
    letter-spacing: .0001em; }
  .section-departments a {
    font-weight: 600;
    color: #3f3f3f;
    letter-spacing: .001em; }
  .section-departments p.top-titles {
    font-size: 10px;
    font-weight: 500;
    letter-spacing: .2em;
    text-transform: uppercase; }
  .section-departments .small-title {
    font-size: 10px;
    font-weight: 500;
    letter-spacing: .2em;
    text-transform: uppercase; }
  .section-departments .project-link {
    text-decoration: none;
    border-bottom: 2px solid #b08f24;
    font-size: 1.5rem; }
  .section-departments section {
    height: 90vh;
    width: 100vw; }
  .section-departments .d-grid {
    display: grid;
    height: 100%;
    justify-content: center;
    align-content: center;
    text-align: center; }
  .section-departments .grid-12 {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column: 1/span 12;
    padding: 10rem 0 10rem 0; }
    @media only screen and (max-width: 75em) {
      .section-departments .grid-12 {
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(5, min-content); } }
    @media only screen and (max-width: 56.25em) {
      .section-departments .grid-12 {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(5, minmax(min-content, 1fr)); } }
    @media only screen and (max-width: 37.5em) {
      .section-departments .grid-12 {
        grid-template-rows: repeat(5, min-content); } }
  .section-departments .project-info {
    background: #fff;
    padding: 2rem 2rem 3rem;
    grid-row: 2/3;
    grid-column: 2/5; }
    @media only screen and (max-width: 56.25em) {
      .section-departments .project-info {
        grid-row: 3/5 !important;
        grid-column: 1/-1 !important;
        justify-self: center;
        align-self: center;
        width: 50%;
        height: 20%; } }
    @media only screen and (max-width: 37.5em) {
      .section-departments .project-info {
        grid-column: 1/-1 !important;
        width: 60%;
        justify-self: center;
        display: flex;
        align-items: flex-start;
        grid-row: 3/5 !important;
        height: 83% !important; }
        .section-departments .project-info h4 {
          font-size: 3.5rem;
          text-align: left; } }
  .section-departments .project-left .box {
    grid-column: 3/span 5;
    grid-row: 1/span 3;
    width: 100%; }
  .section-departments .project-left .project-info {
    grid-column: 2/span 3;
    grid-row: 2/span 1; }
  .section-departments .project-right .box {
    grid-column: 8/span 5;
    grid-row: 1/span 3;
    width: 100%; }
  .section-departments .project-right .project-info {
    grid-column: 7/span 3;
    grid-row: 2/span 1; }
  .section-departments img {
    width: 80%; }
  .section-departments .project-description {
    grid-column: 8/span 4;
    grid-row: 1/span 3;
    justify-self: left;
    align-self: center;
    font-size: 2rem;
    text-align: right;
    justify-self: center;
    align-self: center;
    font-size: 5rem;
    text-align: right;
    font-size: 2rem; }
    @media only screen and (max-width: 75em) {
      .section-departments .project-description {
        font-size: 2rem; } }
    @media only screen and (max-width: 56.25em) {
      .section-departments .project-description {
        padding: 18rem;
        font-size: 3rem;
        grid-row: 4/6;
        grid-column: 1/-1 !important;
        text-align: justify; } }
    @media only screen and (max-width: 37.5em) {
      .section-departments .project-description {
        padding: 3.2rem;
        font-size: 2rem;
        grid-row: 5/6; } }
    @media only screen and (max-width: 37.5em) {
      .section-departments .project-description .project-description-detail {
        font-size: 3rem; } }
  .section-departments .box {
    position: relative;
    overflow: hidden;
    grid-row: 1/4;
    grid-column: 3/8;
    display: grid;
    justify-content: center;
    align-items: center; }
    @media only screen and (max-width: 56.25em) {
      .section-departments .box {
        grid-row: 1/4 !important;
        grid-column: 1/-1 !important;
        justify-items: center !important;
        align-items: center !important; } }
  .section-departments .overlay {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    background: #6E4B8F;
    width: 100%;
    height: 100%; }

.left {
  grid-column: 2/6 !important;
  justify-self: right !important;
  text-align: left !important; }
  @media only screen and (max-width: 37.5em) {
    .left {
      grid-column: 1/-1 !important;
      text-align: justify !important; } }

.gallery-head {
  font-size: 8rem;
  font-weight: bold;
  text-align: center;
  color: #9A7B22; }

.gallery {
  background-color: #f9f7f6;
  grid-column: 1/1;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(7, 7vw);
  grid-gap: 1.5rem;
  padding: 1.5rem; }
  .gallery__item--1 {
    grid-row: 1/span 2;
    grid-column: 1/span 2; }
  .gallery__item--2 {
    grid-row: 1/span 3;
    grid-column: 3/span 3; }
  .gallery__item--3 {
    grid-row: 1/span 2;
    grid-column: 6/7; }
  .gallery__item--4 {
    grid-row: 1/span 2;
    grid-column: 7/-1; }
  .gallery__item--5 {
    grid-row: 3/span 3;
    grid-column: 1/span 2; }
  .gallery__item--6 {
    grid-row: 4/span 2;
    grid-column: 3/span 2; }
  .gallery__item--7 {
    grid-row: 4/5;
    grid-column: 5/6; }
  .gallery__item--8 {
    grid-row: 3/span 2;
    grid-column: 6/span 2; }
  .gallery__item--9 {
    grid-row: 3/span 3;
    grid-column: 8/-1; }
  .gallery__item--10 {
    grid-row: 6/span 2;
    grid-column: 1/2; }
  .gallery__item--11 {
    grid-row: 6/span 2;
    grid-column: 2/span 2; }
  .gallery__item--12 {
    grid-row: 6/span 2;
    grid-column: 4/5; }
  .gallery__item--13 {
    grid-row: 5/span 3;
    grid-column: 5/span 3; }
  .gallery__item--14 {
    grid-row: 6/span 2;
    grid-column: 8/-1; }
  .gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block; }

footer {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  background-color: #410757;
  padding-top: 1.2rem;
  color: #9A7B22; }
  footer .heading {
    display: block;
    font-family: 'Espoir'; }
  footer .line1, footer .line2 {
    letter-spacing: -0.08em;
    font-size: 0.8rem; }
  footer .center_logo {
    font-family: sans-serif;
    font-size: 2.8em;
    letter-spacing: 0.2rem;
    padding: 0.6rem 0rem 0rem 0rem; }
  footer .center_logo::after .center_logo::before {
    content: '--------';
    letter-spacing: 0.1rem;
    display: inline; }
  footer .about_team, footer .home_contact {
    display: flex;
    justify-content: space-between; }
  footer .about_team {
    margin: 3.2rem 8rem 0rem; }
  footer .home_contact {
    margin: 3.2rem 8rem 0rem; }
  footer .item {
    display: inline;
    font-size: 2em; }
  footer .mid_line {
    font-size: 1.6rem;
    display: inline-block;
    letter-spacing: 0.3rem; }
  footer .mid_line p {
    letter-spacing: -0.1em;
    transform: rotate(90deg);
    margin: 3rem 0rem 0rem 9rem; }
  footer .fab {
    font-size: 2.3rem;
    opacity: 1;
    margin: 2rem 2rem;
    color: #882743; }
  footer .fab:hover {
    color: white; }
  footer .last_line {
    font-size: 0.8rem;
    cursor: pointer;
    margin: 2.5rem 0rem 0rem 0rem; }
  footer .last_line p:nth-child(1):before {
    content: ' \00A9'; }
  footer .home_contact {
    justify-content: space-around; }

@media (max-width: 768px) {
  .about_team, .home_contact {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 1rem auto 0rem; }
  .item {
    margin-bottom: 10px; } }
