.section-departments{
    background: grey;

    .scroll-slider{
        position: relative;
        height: 100vh;
        display: block;
        overflow: hidden;
        
    }

    .scroll-wrapper{
        height: 100%;
        position: relative;
        display: flex;
        flex-wrap: nowrap;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -ms-touch-action: pan-y;
        touch-action: pan-y;
        -webkit-tap-highlight-color: transparent;
    }
    
    .scroll-slide{
        position: relative;
        height: 100%;
        flex-basis: 75vw;
        flex-grow: 1;
        flex-shrink: 0;
        margin-left: 12rem;
    }

    .item{
        display: flex;
        align-items: center;
        justify-content: center;
        &_img{
            position: relative;
            width: 100%;
        }
    }


}