* {
	margin: 0rem;
	padding: 0rem;
	box-sizing: border-box;
}

footer {
	font-family: sans-serif;
	box-sizing: border-box;
	height: 100%;
	width: 100%;
	background-color: #000000;
	padding-top: 1.2rem;
	font-color: #2c2513;
}

.heading {
	display: block;

}

.line1, .line2 {
	letter-spacing: -0.08em;
	font-size: 0.8rem;
}

.center_logo {
	font-family: sans-serif;
	font-size: 2.2rem;
	letter-spacing: 0.2rem;
	padding: 0.6rem 0rem 0rem 0rem;
}

.center_logo::after .center_logo::before {
	content: '--------';
	letter-spacing: 0.1rem;
	display: inline;
	color: #2c2513;
}


.about_team, .home_contact {
	display: flex;
	justify-content: space-between;
}

.about_team {
	margin: 3.2rem 8rem 0rem; 	
}

.home_contact {
	margin: 3.2rem 8rem 0rem;
}

.item {
	display: inline;
	font-size: 2em;

}

 .mid_line {
	font-size: 1.6rem;
	display: inline-block;
	letter-spacing: 0.3rem;
}


.mid_line p {
	letter-spacing: -0.1em;
	transform: rotate(90deg);
	margin: 3rem 0rem 0rem 9rem;
}

.fab {
	font-size: 2.3rem; 
	opacity: 1;
	margin: 2rem 2rem;
	color: #882743;
}

.fab:hover {
	color: white; 
}

.last_line {
	font-size: 0.8rem;
	cursor: pointer;
	margin: 2.5rem 0rem 0rem 0rem;
}

.last_line p:nth-child(1):before {
	content: ' \00A9';
}

.home_contact{
	justify-content: space-around;
}

@media(max-width:768px){
	.about_team, .home_contact{
		flex-direction: column;
		justify-content: center;
		text-align: center;
		margin:1rem auto 0rem;
	}
	.item{
		margin-bottom:10px;
	}
}

/*.footer {
	margin: 0px;
	padding: 0px;
	font-family: sans-serif;
	box-sizing: border-box;
	height: 100%;
	width: 100%;
	background-color: #000000;
	padding-top: 1.2rem;
    font-color: #2c2513;

    .heading {
        display: block;
    
     }
    
     .line1, .line2 {
        letter-spacing: -0.08em;
        font-size: 0.8rem;
    }
    
     .center_logo {
        font-family: sans-serif;
        font-size: 2.2rem;
        letter-spacing: 0.2rem;
        padding: 0.6rem 0rem 0rem 0rem;
    }
    
     .center_logo::after .center_logo::before {
        content: '--------';
        letter-spacing: 0.1rem;
        display: inline;
        color: #2c2513;
    }
    
    
     .about_team, .home_contact {
        display: flex;
        justify-content: space-between;
    }
    
     .about_team {
        margin: 3.2rem 8rem 0rem; 	
    }
    
     .home_contact {
        margin: 3.2rem 8rem 0rem;
    }
    
     .item {
        display: inline;
        font-size: 2em;
    
     }
    
      .mid_line {
        font-size: 1.6rem;
        display: inline-block;
        letter-spacing: 0.3rem;
    }
    
    
     .mid_line p {
        letter-spacing: -0.1em;
        transform: rotate(90deg);
        margin: 3rem 0rem 0rem 9rem;
    }
    
     .fab {
        font-size: 2.3rem; 
        opacity: 1;
        margin: 2rem 2rem;
        color: #882743;
    }
    
     .fab:hover {
        color: white; 
    }
    
     .last_line {
        font-size: 0.8rem;
        cursor: pointer;
        margin: 2.5rem 0rem 0rem 0rem;
    }
    
     .last_line p:nth-child(1):before {
        content: ' \00A9';
    }
    
     .home_contact{
        justify-content: space-around;
    }
}

@media(max-width:768px){
	.about_team, .home_contact{
		flex-direction: column;
		justify-content: center;
		text-align: center;
		margin:1rem auto 0rem;
	}
	.item{
		margin-bottom:10px;
	}
}*/
