.header{
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.pixoHeader-pixoGif {
    width: 32rem;
    // position: absolute;
    // left: 50%;
    // top:50%;
    // transform-origin: translate(-50%);
    border: none;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    z-index: 1000;
    background-size: 100% 100%;
    animation:2.5s rotate infinite linear;

    @include respond(phone){
        top: -620%;
        left: 41.5%;
    }
    
}

.pixoGifContainer {
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    //justify-content: center;
    align-items: center;
}

.pixoHeader {
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-color: white;
    position: relative;
    -webkit-perspective: 50rem;
    -moz-perspective: 50rem;
    perspective: 50rem;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    transition: all 1s;
    z-index: 10;
    background-color:black;

    &-pixoIs{
        font-weight: 100;
        width: 100%;
        font-size: 3em;
        text-align: center;
        color: white;
        z-index: 1000;
        padding-top:5rem;
    }

    &-tagline{
        border-right: 1px solid white;
        font-weight: bold;
        padding-right: 2px;
    }
    
    @keyframes rotate{
        0%{
            transform:rotate(0deg);
        }
        100%{transform:rotate(360deg);}

    }

    #background img{
        position:absolute;
        top: 20%;
        left:15%;
        @include respond(phone){
            width: 10rem;
        }
    
    }
    #foreground img{
        position: absolute;
        top:55%;
        left:15%;
        transform: rotate(0deg);

        @include respond(phone){
            width: 10rem;
            top: 73%;
        }
    }
    #fore-foreground img{
        position: absolute;
        top: 20%;
        left:75%;
        transform: rotate(0deg);

        @include respond(phone){
            width: 10rem;
        }
    }
    #fore-fore-foreground img{
        position: absolute;
        top:55%;
        left:75%;
        transform: rotate(0deg);

        @include respond(phone){
            width: 10rem;
            top: 73%;
        }
    }
}



.mouse-bg {
    left: -4rem;
    right: 0;
    bottom: 0;
    top: 0;
    position: fixed;
    z-index: 100000;
    @include respond(phone){
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        position: absolute;
    }
}


#particles-js {
    position : absolute;
    width:100%;
    height:100vh;
    z-index:-10000;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    //opacity: 0.48;
}
























// .slideShow{
//     position: absolute;
//     top:0;
//     left:0;
//     right: 0;
//     bottom: 0;
//     overflow: hidden;

    

//     &_main{
//         position: absolute;
//         height: 100%;
//         width: 100%;

//         .homeSlide{
//             position: absolute;
//             width: 100%;
//             height: 100%;
//         }

//         &-top{
//             overflow: hidden;
//             position: absolute;
//             top: 3rem;
//             left: 3rem;
//             right: 3rem;
//             bottom: 3rem;
//             border: .1rem rgba(255,255,255,0.2) solid;
//             border-width: .1rem .1rem 0 .1rem;
//             height: 50%;

//             &-slide01{
//                 background: url(../img/img_clouds-top.jpg) no-repeat bottom center;
//                 background-size: cover;
//             }
        
//             &-slide02{
//                 background: url(../img/img_clouds-top2.jpg) no-repeat bottom center;
//                 background-size: cover;
//             }
//             &-slide03{
//                 background: url(../img/img_clouds-top3.jpg) no-repeat bottom center;
//                 background-size: cover;
//             }
//         }

//         &-divider{
//             z-index: 3;
//             position: absolute;
//             top: 50%;
//             margin-top: -4rem;
//             left: 1rem;
//             right: 1rem;
//             height: 4rem;
//             background: linear-gradient(to top, rgba(0, 0, 0, 0.5) 0%, rgba(34, 34, 34, 0) 100%);
//         }

//         &-bottom{
//             overflow: hidden;
//             position: absolute;
//             top: 50%;
//             left: 3rem;
//             right: 3rem;
//             bottom: 3rem;
//             border: 1px rgba(255, 255, 255, 0.2) solid;
//             border-width: 0 .1rem .1rem .1rem;

//             &-slide01{
//                 background: url(../img/img_clouds-bottom.jpg) no-repeat bottom center;
//                 background-size: cover;
//             }
        
//             &-slide02{
//                 background: url(../img/img_clouds-bottom2.jpg) no-repeat bottom center;
//                 background-size: cover;
//             }
//             &-slide03{
//                 background: url(../img/img_clouds-bottom3.jpg) no-repeat bottom center;
//                 background-size: cover;
//             }
//         }

        
//     }

//     &_nav{
//         z-index: 5;
//         position: absolute;
//         right: 5rem;
//         top: 50%;
//         width: 5rem;
//         transform: translateY(-50%);

//         ul{
//             list-style: none;
//             color: #fff;
//             font-size: 1.3rem;
//             text-align: center;
//             margin: 0;
//             padding: 0;

//             li{
//                 width: 5rem;
//                 height: 5rem;
//                 line-height: 5rem;
//                 background-color: rgba(0,0,0,0.7);
//                 margin-bottom: .1rem;

//                 a{
//                     display: block;
//                     width: 5rem;
//                     height: 5rem;
//                     position: relative;
//                     overflow: hidden;
//                     text-decoration: none;
//                     color: #fff;
//                 }
//             }
//         }
//     }

// }