  @font-face{
    src: url("../Font/GeosansLight.ttf");
    font-family: main;
  }

  * {
    font-family: main;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  html {
    width: 100%;
    height: 100%;
  }
  body {
    width: 100%;
    height: 100%;
    background-color: #2E313D;
    -webkit-perspective: 500px;
    -moz-perspective: 500px;
    perspective: 500px;
    overflow: hidden;
    position: fixed;
  }
.mouse-bg {
left: 0;
right: 0;
bottom: 0;
top: 0;
position: fixed;
}

  .divBody {
    width: 100%;
    height: 100%;
    background-color: white;
    position: absolute;
    -webkit-perspective: 500px;
    -moz-perspective: 500px;
    perspective: 500px;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    transition: all 1s;
  }
  #divBody0{
    background-color:#8B4789;
  }
  #divBody1{
    background-color:#FF6347;
  }
  #divBody2{
    background-color: #6cd744;
  }
  #divBody3{
    background-color:#089de3 ;
  }
  .divActive {
    top: 0px;
  }
  .divInactive {
    top: 200%;
  }

  .menu {
    display: inline-block;
    width: 13%;
    height: 5%;
    background-color: rgba(255,255,255,0.0);
    border: 0px;
    color: white;
    z-index: 1000;
    position: absolute;
    font-weight: bold;
    top: 2%;
    border-radius: 5px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
  }
  .menu:hover {
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    background-color: rgba(255,255,255,1);
    border: none;
  }

  .menu .firstLetter {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    display: inline-block;
  }
  .menu:hover .firstLetter{
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  .menu1 {
    left: 21%
  }
  .menu2 {
    left: 34%;
  }
  .menu3 {
    left: 50%;
  }
  .menu4 {
    left: 65%;
  }

  #divPixoIs {
    font-weight: 100;
    width: 100%;
    font-size: 3em;
    text-align: center;
    position: absolute;
    bottom: 17%;
    color: white;
  }

  #span1 {
    border-right: 1px solid white;
    padding-right: 2px;
  }


   #divFooter {
    padding-bottom: 1%;
    position: absolute;
    bottom: 0px;
    width: 100%;
    color: white;
  }

  #footerCopyright {
    font-size: 1em;
    font-weight: 100;
    position: absolute;
    left: 0px;
    padding-left: 40px;
    bottom: 10px;
  }

  #footerRight {
    position: absolute;
    bottom: 10px;
    right: 0px;
    font-weight: 100;
    margin-right: 40px; 
    font-size: 1em;
  }

  #footerCopyright i {
    font-size: 1em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }

  #footerRight a  {
    color: white;
    font-size: 1em;
    margin-right: 8px;
  }

  #footerRight a:hover {
    font-size: 1.3em;
  }
  
  #footerShare {
    font-size: 1.3em;
    font-weight: 100;
  }

  #logoimg {
      width:27%;
      position: absolute;
      left: 37.5%;
        top:-700%;
      border: none;
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      transition: all 0.5s;
      z-index: 1000;
      background-size: 100% 100%;
         animation:2.5s rotate infinite linear;
    }
   @keyframes rotate{
      0%{transform:rotate(0deg); transform-origin:50% 50%;}
      100%{transform:rotate(360deg);}
  
   }
  #divLogoSmall{
    width: 3%;
    height: 5%;
    border: none;
    position: absolute;
    top: -10%;
    left: 48.5%;
    -webkit-transition: top 1s;
    -moz-transition: top 1s;
    transition: top 1s;
    z-index: 1000;
    background-size: 100% 100%;
  }

  .menuSlide1{
    left: 21%;
  }
  .menuSlide2{
    left: 33.6%;
  }
  .menuSlide3{
    left: 53.5%;
  }
  .menuSlide4{
    left: 68.5%;
  }

  #menuButton {
    visibility: hidden;
  }

  .divBackMenuToggle {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(0,0,0,1);
    z-index: 900;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    transition: all 0.25s;
    display: none;
  }

  #canvasTopLeft {
    position: absolute;
    top: 0px;
    left: 0px;
  }

  .menuWhatWeDo {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 30%;
  }

  .menuWhatWeDo i {
    color: rgba(255, 255, 255, 0.9);
    font-size: 5em;
    border: 2px solid white;
    padding: 20px;
    margin: 0px 3%;
  }  @font-face{
    src: url("../Font/GeosansLight.ttf");
    font-family: main;
  }
 
#con1 {
	height:60%;
	width:25%;
	position: absolute;
	top:20%; 	
	left: 15%;
	float: left;
	border-radius: 6px;
}
#con2{
	height:60%;
	width:25%;
	position: absolute;
	top:20%; 	
	left: 55%;
	float: left;
	border-radius:6px; 
}
#lol{
	position: absolute;
	top:86%; 	
	left:35%;
   color: white;
}
#con1 img ,#con2 img{
height: 100%;
border-radius: 6px;
}
#hiddenquotes1,#hiddenquotes2 {
  visibility: hidden;
}
#name {
position: absolute;
top: 10%;
left:19%;
color: white;
}
#call {
position: absolute;
top: 20%;
left:19%;
color: white;
}
#sayhello {
  position: absolute;
  top: 30%;
  left: 19%;
  color:white;
}
#web1{
position:absolute;
top:10%;
left:10%;
width:8%; 
}
#web2{
position: absolute;
top:30%;
left:10%;
width:8%;
}
#web3{
position:absolute;
top: 50%;
left:10%;
width:8%;
}
#web4{
position: absolute;
top:70%;
left:10%;
width:8%;
}
#web1:hover,#web2:hover,#web3:hover,#web4:hover{
transform: scale(1.02);
-moz-transform: scale(1.02);
-webkit-transform: scale(1.02);
-ms-transform: scale(1.02);
}
#written0,#written1{
/*background-color: white;*/
background-color: #FAEBD7;
width: 60%;
height: 80%;
border-radius: 10px;
position:absolute;
left:25%;
top: 13%;
padding:2%;
font-size: 1.3em; 
overflow: auto;
overflow-x:hidden; 
}
#workcontent{
padding:2%;
}
#workheading{
 color: #089de3;
}
.sliderbutton0{
  position:relative;
  top: 10%;
  left: 75%;
  margin-bottom:8%; 
/*background:linear-gradient(#7bff58,#6cd744); */
background: linear-gradient(#089de3,#087de3);
color: #ffffff;
padding: 1%;
border: 0.1em;
border-color:white;
border-radius: 0.4em;
font-size: 1em;
opacity:0.85;
transition: opacity 0.2s linear;
} 
.sliderbutton0:hover{
opacity:1;
}
#fallnow0{
height: 100%;
width: 100%;
position: absolute;
top: 0;
left: 0;
background-color: #222222;
display: none;
}
#scroll{
width: 80%;
margin: auto;
position: absolute;
top: 10%;
left: 10%;
right: 15%;
background-color: #FAEBD7;
height: 85%;
padding-left:3%;
padding-right: 2%;
padding-top: 2%;
padding-bottom: 1%;
overflow: hidden;
border-radius: 1em;
}
#mCSB_1_scrollbar_vertical .mCSB_dragger{ 
height:100px;  
}
#mCSB_1_scrollbar_horizontal .mCSB_dragger{ 
width:100px; 
background-color:#00FF00; 
}
#scroll h3{
  display: inline;
}
#my-slider{
position: absolute;
top: 10%;
left: 10%;
font-size: 1.5em;
}
#background img{
    position:absolute;
  top: 20%;
  left:15%;

}
#foreground img{
    position: absolute;
  top:55%;
  left:15%;
  transform: rotate(0deg);
}
#fore-foreground img{
    position: absolute;
  top: 20%;
  left:75%;
  transform: rotate(0deg);
}
#fore-fore-foreground img{
    position: absolute;
  top:55%;
  left:75%;
  transform: rotate(0deg);
}

#convi{
  width: 100%;
  float: left;
  clear: both;
}
#convi img{
width: 100%;
height: 84.8%;
}
#convi1{
  width: 100%;
  float: left;
  clear: both;  
  margin-bottom: 5%;
}
#convi1 img{
 width: 100%;
height: 84.8%; 
}
#convenor1 {
    position: relative;
  overflow: hidden;
  height:50%;
  width:25%;
  background-color:#666;
  float: left;
  margin-right: 8%;
  margin-bottom: 5%;
  border-radius: 6px;
  min-height: 230px;
}
#convenor2{
    position: relative;
  overflow: hidden;
    height:50%;
  width:25%;
  background-color:#666;
  float: left;
  margin-right: 8%;
  margin-bottom: 5%;
  border-radius:6px;
  min-height: 230px; 
}
#convenor3{
    position: relative;
  overflow: hidden;
    height:50%;
  background-color:#666;
  margin-bottom: 5%;
  width:25%;
  float: left;
  border-radius:6px; 
  min-height: 230px;
}
#co-convenor1 {
    position: relative;
  overflow: hidden;
  height:50%;
  width:25%;
  background-color:#666;
  float: left;
  margin-left: 17.5%;
  margin-right: 10%;
  border-radius: 6px;
  min-height: 230px;
}
#co-convenor2{
    position: relative;
  overflow: hidden;
    height:50%;
  width:25%;
  background-color:#666;
  float: left;
  border-radius:6px;
  min-height: 230px;
}
.heading{
  height: 15%;
  min-height: 20px;
  text-align: center;
  padding-top: 3%;
  vertical-align: middle;
  background-color: #000;
  color:white;
}
.line{
height: 15%;
  text-align: center;
  clear: both;
  color: #FF6347;

}
.line h1{
  text-decoration: underline;
}
#convicopy{
  width: 100%;
  float: left;
  clear: both;
}

#nomargin{
  margin-right: 0px;
}
#lastmargin{
margin-left: 20%;

}
#lastonemargin{
  margin-left: 37%;
}
.abcd {
  height:50%;
  width:25%;
  min-height: 220px;
  background-color:#666;
  position: relative;
  overflow: hidden;
  float: left;
  margin-top: 3%;
  margin-right: 7%;
  margin-left: 2%;
  margin-bottom: 5%;
  border-radius: 6px;
}
.abcd img{
  width: 100%;
height: 100%;

}
#hiddeninfo{
 /* position:   absolute;
  width:      100%;
  top: 0%;
  height:     0%;
  overflow:   hidden;
  transition: all .5s cubic-bezier(0, 1, 0.5, 1);
  box-shadow: inset 0 0 0 1px white;
  background: rgba(255,0,0,0.4); /* Don't use opacity but rgba on bg */

    position: absolute; 
  background: rgba(0,0,0,0.75); 
  color: white; 
  padding: 15px 10px; 
  width: 100%;
  opacity: 0;
  bottom: -80%; 
  left: 0;
  -webkit-transition: all 0.6s ease;
  -moz-transition:    all 0.6s ease;
  -o-transition:      all 0.6s ease;
}

.abcd:hover #hiddeninfo{ 
    opacity: 1;
  bottom: 0;
}
#convenor1:hover #hiddeninfo{
  opacity: 1;
  bottom: 0;
}
#convenor2:hover #hiddeninfo{
  opacity: 1;
  bottom: 0;
}
#convenor3:hover #hiddeninfo{
  opacity: 1;
  bottom: 0;
}#co-convenor1:hover #hiddeninfo{
  opacity: 1;
  bottom: 0;
}#co-convenor2:hover #hiddeninfo{
  opacity: 1;
  bottom: 0;
}



/*contact */
#contactwalamsg{
  position: absolute;
  top:10%;
  left:10%;
  color: white;
  font-size: 1.6em;
}
#reviewus{
  position: absolute;
  top: 18%;
  left: 14%;
  width: 40%;
  height: 70%;
  background-color: white;
  border-radius: 1em;
  padding: 3%;
  padding-right: 0px;
}
#reviewus input{
  display: block;
  width: 90%;
  background-color: white;
  size: 1.4em;
  padding: 0.4em;
  box-shadow: none;
  border-radius: 0.4em;
  border: 2px solid #089de3;
  margin-bottom: 2%; 
}
#yourmessage {
  height: 56%;
  width: 90%;
  background-color: white;
  size: 1.4em;
  padding: 0.4em;
  box-shadow: none;
  border-radius: 0.4em;
  border: 2px solid #089de3;
  margin-bottom: 2%;   
}
#reviewus input[type="submit"]{
  background: linear-gradient(#089de3,#087de3);
  padding: 0.3em;
  font-size: 1.2em;
  color: white;
  opacity: 0.9;
  -moz-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}
#reviewus input[type="submit"]:hover{
opacity: 1;
}
#continfoz{
  position: absolute;
  top:35%;
  left: 65%;
  width: 30%;
  color: white;
}
#callnoz{
  position: absolute;
  top: 10%;
  left: 30%;
}
#emailidz{
  position: absolute;
  top: 43%;
  left: 30%;
}
#addressz{
  position: absolute;
  top: 70%;
  left: 30%;
}
